In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
tech_layoffs = pd.read_csv('Data/tech_layoffs.csv')

In [4]:
tech_layoffs.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [5]:
tech_layoffs.describe()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
count,489,489,489,489,489,489,489,489,22
unique,477,150,50,187,289,134,221,2,22
top,DataRobot,Unclear,Unclear,1/11/2023,Fintech,San Francisco,TechCrunch,Private,"Per Axios, 22 of the employees laid off were f..."
freq,2,182,133,12,24,136,52,370,1

In [14]:
#Total companies 
companies_total= tech_layoffs["company"].count()
companies_total

489

In [15]:
# Total unique companies that have laid people off 
unique_companies_total= tech_layoffs["company"].nunique()
unique_companies_total

477

In [17]:
# #Drop "unclear" from total number of tech workers


# # Total # of tech workers laid off 
# total_layoffs = tech_layoffs["total_layoffs"].sum()
# total_layoffs

In [18]:
tech_layoffs.dtypes

company                          object
total_layoffs                    object
impacted_workforce_percentage    object
reported_date                    object
industry                         object
headquarter_location             object
sources                          object
status                           object
additional_notes                 object
dtype: object

In [9]:
tech_layoffs.isnull()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
484,False,False,False,False,False,False,False,False,True
485,False,False,False,False,False,False,False,False,False
486,False,False,False,False,False,False,False,False,True
487,False,False,False,False,False,False,False,False,True
488,False,False,False,False,False,False,False,False,True

In [19]:
tech_layoffs[tech_layoffs['total_layoffs'].str.contains('Unclear')==False ]

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."
6,Armis Security,25,4,12/8/2022,Cybersecurity,San Francisco,Calcalistech,Private,NaN
...,...,...,...,...,...,...,...,...,...
480,HashiCorp,69,Unclear,1/11/2023,"cybersecurity, cloud infrastructure",San Francisco,Crunchbase News Reporting,Public,NaN
481,Quanergy Systems,72,Unclear,12/14/2022,Autonomous vehicles,"Sunnyvale, CA",Silicon Valley Business Journal,Public,NaN
482,Doma,825,Unclear,12/6/2022,"Insurtech, machine learning",San Francsico,Doma,Public,The company previously laid off workers in May.
483,Wayfair,870,Unclear,8/19/2022,"E-commerce, retail",Boston,Boston Globe,Public,NaN
484,Salesforce,9090,Unclear,1/4/2023,"enterprise tech, analytics",San Francisco,New York Times,Public,NaN

In [20]:
tech_layoffs[tech_layoffs['impacted_workforce_percentage'].str.contains('Unclear')==False ]

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."
...,...,...,...,...,...,...,...,...,...
460,Root Insurance,467,40,11/9/2022,InsurTech,Columbus,Columbus Dispatch,Public,NaN
461,Coinbase,2110,43,1/10/2023,Crypto,San Francisco,CNBC,Public,NaN
462,Volta Charging,Unclear,54,10/21/2022,"Automotive, electric vehicles",San Francisco,Volta,Public,NaN
463,Twitter,3740,70,1/5/2023,Social Media,San Francisco,The Information,Public,NaN
464,Starry,Unclear,74,1/18/2023,"WiFi, hardware",Boston,SEC filings,Public,NaN

In [21]:
tech_layoffs.dropna()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."
88,SundaySky,24,13,7/11/2022,Video Conferencing Software,New York,Globes,Private,"Layoffs affect employees in the U.S., Israel, ..."
91,Sourcepoint,7,13,6/2/2022,"Privacy Tech, Marketing Tech",New York,Crunchbase News reporting,Private,Company did not respond to a request to confir...
150,Nate,30,20,8/30/2022,E-commerce,New York,The Information,Private,"Nate reportedly had two layoffs. In June, the ..."
182,Outschool,74,25,12/10/2022,EdTech,San Francisco,TechCrunch,Private,"Outschool laid off 31 people, or 18% of the co..."
218,Rasa,59,40,4/4/2022,Artificial Intelligence,San Francisco,Business Insider,Private,Rasa was founded in Berlin but moved its headq...
260,100 Thieves,12,Unclear,1/10/2023,"eSports, Media",Los Angeles,Dexerto,Private,More than a dozen employees were reportedly la...
261,Orbit,14,Unclear,8/12/2022,Productivity software,San Francisco,Orbit CEO Patrick Woods,Private,Orbit CEO Patrick Woods announced at least 14 ...
262,Cybereason,100,Unclear,6/1/2022,Cybersecurity,Boston,CTech,Private,"Affected employees are in U.S., Israel, and Eu..."
274,Rad Power Bikes,163,Unclear,7/21/2022,Transporation,Seattle,GeekWire,Private,"First round of layoffs was in April, second ro..."
282,Gopuff,2300,Unclear,10/21/2022,E-commerce,Philadelphia,"Bloomberg, The Information",Private,"First round of layoffs was in January, second ..."
307,OnlyFans,Unclear,Unclear,8/1/2022,"Social media, creator economy",London,Business Insider,Private,OnlyFans is based in the UK but has a sizeable...
308,Talkdesk,Unclear,Unclear,5/19/2022,Customer service,San Francisco,Confirmed by CB News from source,Private,Sources say hundreds of employees have been la...
309,StubHub,Unclear,Unclear,8/4/2022,"E-commerce, ticketing",San Francisco,StubHub on LinkedIn,Private,StubHub announced they would be letting go of ...
310,Cerebral,Unclear,Unclear,10/24/2022,Health Care,San Francisco,Wall Street Journal,Private,The company previously laid off employees in May.
311,Elemy,Unclear,Unclear,12/5/2022,Health Care,San Francisco,Behavioral Health Business,Private,The company previously laid off workers in July.
312,TikTok,Unclear,Unclear,7/18/2022,Social Media,Los Angeles,Wired,Private,"TikTok is owned by China-based ByteDance, but ..."
377,Varonis Systems,110,5,11/6/2022,Cybersecurity,New York,Calcalistech,Public,Half of its layoffs happened at its R&D center...
455,Playtika,250,33,5/31/2022,Gaming,Tel Aviv,Globes,Public,"Closing studios in London, Montreal, and Los A..."
475,Peloton,4084,Unclear,10/6/2022,Fitness,New York,CNBC,Public,"Peloton previously laid off 3,584 in February"
482,Doma,825,Unclear,12/6/2022,"Insurtech, machine learning",San Francsico,Doma,Public,The company previously laid off workers in May.
485,Oracle,Unclear,Unclear,8/1/2022,"SaaS, enterprise software",Austin,The Information,Public,The Information reported thousands of people w...

In [31]:
# tech_layoffs= tech_layoffs.replace(r'^\s*$', np.nan, regex=True)

In [32]:
tech_layoffs.astype(float)

ValueError: could not convert string to float: 'C2FO'

In [29]:
d = {'company': [1], 'total_layoffs':[2], 'impacted_workforce_percentage': [3]}
df = pd.DataFrame(d)

df

   company  total_layoffs  impacted_workforce_percentage
0        1              2                              3

In [12]:
# tech_layoffs.plot(x='company', y='total_layoffs')

In [13]:
# count_chart = tech_layoffs.plot(kind='bar', figsize=(6,8))

# # Set the xlabel and ylabel using class methods
# count_chart.set_xlabel(["company"])
# count_chart.set_ylabel(["total_layoffs"])

# plt.show()
# plt.tight_layout()