In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
tech_layoffs = pd.read_csv('Data/tech_layoffs.csv')

In [5]:
tech_layoffs.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [19]:
#Total companies 
companies_total= tech_layoffs["company"].count()
companies_total

#Total unique companies that have laid people off 
unique_companies_total= tech_layoffs["company"].nunique()
unique_companies_total

477

In [20]:
#Drop "unclear" from total number of tech workers


# Total # of tech workers laid off 
total_layoffs = tech_layoffs["total_layoffs"].sum()
total_layoffs

'20Unclear132024Unclear2526501111012151502205063750UnclearUnclearUnclear1002023758130203560688490UnclearUnclearUnclear1201202030303256598590Unclear100169707078Unclear1201401421501502130657880UnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclear20010012313690UnclearUnclearUnclear75010015630404094101242450557Unclear10012513UnclearUnclearUnclear16250304547554UnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclear20450200150170308084UnclearUnclear273030UnclearUnclear1044380UnclearUnclearUnclear1201301501501562002525426030304057640677690UnclearUnclearUnclearUnclearUnclear104243223592376Unclear57Unclear10015016170252532377274950UnclearUnclearUnclear27Unclear303784310010010011003260UnclearUnclear16217325033404044505080UnclearUnclear15826270UnclearUnclear12059Unclear15064Unclear2050001111705088Unclear22060Unclear7610001011404006085UnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclear121410010010010410501091095113131401491616316717518019224226232300253103335370404040404040444545050545873758082859097UnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclearUnclear100Unclear903238437002701101800030035041006095Unclear10058812503030055840Unclear100155200450Unclear50918025Unclear1001000120140200707099UnclearUnclearUnclearUnclear75800Unclear180300Unclear11000120UnclearUnclear22595Unclear500760UnclearUnclearUnclear140Unclear4005501332128040060800UnclearUnclearUnclear56Unclear138Unclear350Unclear83Unclear400461013250647Unclear1157504672110Unclear3740Unclear804000100100010000120001532424030040844514805586369728258709090UnclearUnclearUnclearUnclear'