In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [20]:
tech_layoffs = pd.read_csv('Data/tech_layoffs.csv')

In [21]:
tech_layoffs.head()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [22]:
tech_layoffs.describe()

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
count,489,489,489,489,489,489,489,489,22
unique,477,150,50,187,289,134,221,2,22
top,DataRobot,Unclear,Unclear,1/11/2023,Fintech,San Francisco,TechCrunch,Private,"Per Axios, 22 of the employees laid off were f..."
freq,2,182,133,12,24,136,52,370,1

In [23]:
#Total companies 
companies_total= tech_layoffs["company"].count()
companies_total

#Total unique companies that have laid people off 
unique_companies_total= tech_layoffs["company"].nunique()
unique_companies_total

477

In [24]:
# #Drop "unclear" from total number of tech workers


# # Total # of tech workers laid off 
# total_layoffs = tech_layoffs["total_layoffs"].sum()
# total_layoffs

In [25]:
tech_layoffs.dtypes

company                          object
total_layoffs                    object
impacted_workforce_percentage    object
reported_date                    object
industry                         object
headquarter_location             object
sources                          object
status                           object
additional_notes                 object
dtype: object

In [26]:
# tech_layoffs["company"]

0                C2FO
1            VideoAmp
2            Amperity
3             Addepar
4      Thirty Madison
            ...
484        Salesforce
485            Oracle
486        LivePerson
487            Skillz
488         Blueboard
Name: company, Length: 489, dtype: object

In [27]:
# tech_layoffs["impacted_workforce_percentage"]

0            2
1            2
2            3
3            3
4            3
        ...
484    Unclear
485    Unclear
486    Unclear
487    Unclear
488    Unclear
Name: impacted_workforce_percentage, Length: 489, dtype: object

In [28]:
# tech_layoffs.isnull().sum()

company                            0
total_layoffs                      0
impacted_workforce_percentage      0
reported_date                      0
industry                           0
headquarter_location               0
sources                            0
status                             0
additional_notes                 467
dtype: int64

In [34]:
tech_layoffs[tech_layoffs['total_layoffs'].str.contains('Unclear')==False ]

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."
6,Armis Security,25,4,12/8/2022,Cybersecurity,San Francisco,Calcalistech,Private,NaN
...,...,...,...,...,...,...,...,...,...
480,HashiCorp,69,Unclear,1/11/2023,"cybersecurity, cloud infrastructure",San Francisco,Crunchbase News Reporting,Public,NaN
481,Quanergy Systems,72,Unclear,12/14/2022,Autonomous vehicles,"Sunnyvale, CA",Silicon Valley Business Journal,Public,NaN
482,Doma,825,Unclear,12/6/2022,"Insurtech, machine learning",San Francsico,Doma,Public,The company previously laid off workers in May.
483,Wayfair,870,Unclear,8/19/2022,"E-commerce, retail",Boston,Boston Globe,Public,NaN
484,Salesforce,9090,Unclear,1/4/2023,"enterprise tech, analytics",San Francisco,New York Times,Public,NaN

In [35]:
tech_layoffs[tech_layoffs['impacted_workforce_percentage'].str.contains('Unclear')==False ]

,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,NaN
1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,NaN
2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,NaN
3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,NaN
4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."
...,...,...,...,...,...,...,...,...,...
460,Root Insurance,467,40,11/9/2022,InsurTech,Columbus,Columbus Dispatch,Public,NaN
461,Coinbase,2110,43,1/10/2023,Crypto,San Francisco,CNBC,Public,NaN
462,Volta Charging,Unclear,54,10/21/2022,"Automotive, electric vehicles",San Francisco,Volta,Public,NaN
463,Twitter,3740,70,1/5/2023,Social Media,San Francisco,The Information,Public,NaN
464,Starry,Unclear,74,1/18/2023,"WiFi, hardware",Boston,SEC filings,Public,NaN

In [38]:
# tech_layoffs.plot(x='company', y='total_layoffs')

TypeError: no numeric data to plot

In [37]:
# count_chart = tech_layoffs.plot(kind='bar', figsize=(6,8))

# # Set the xlabel and ylabel using class methods
# count_chart.set_xlabel(["company"])
# count_chart.set_ylabel(["total_layoffs"])

# plt.show()
# plt.tight_layout()

TypeError: no numeric data to plot